.git
.github
node_modules
**/node_modules
dist
**/dist
.next
**/.next
coverage
**/coverage
*.tsbuildinfo
**/*.tsbuildinfo

.env
.env.*
!.env.example

docs
*.md
!README.md

.vscode
.idea
.DS_Store

postgres-data
models
logs
